.accordion-arrow:after {
	content: "\f107";
	font-family: FontAwesome;
}
.search:after{
    content: "\f002";
	font-family: FontAwesome;
}

/* Shameer */
.course-tag-premium {
    background-image: linear-gradient(to left, #DE2575, #FF5030);
	border-radius: 0%;
}
.card-li > li{
	line-height: 0.4rem;
	border-right: 0.5px solid black;
	padding-right: 0.5rem;
}
.card-dot:after{
	content: '\f141';
	font-family: FontAwesome;
	font-size: 1.5rem;
}
