/* Webinar CSS*/
.Register-Btn{
	background-color:#410065;
	color:#ffffff;
	border-radius: 5px;
}

.Webinar-accordion-bg{
	border-radius: 0.3125rem;
	border-top: transparent;
	opacity: 1;
	background: #ffffff 0% 0% no-repeat padding-box;
	box-shadow: 0px 3px 3px #00000029;
}
.webinar-accordion-description-line{
	border-right: 3px solid #ececec;
}

@media screen and (max-width: 768px) {
	.webinar-accordion-description-line{
		border-right: none;
	}
	.Webinar-Mob-image{
		text-align: center;
		border-top: 3px solid #ececec;
	}
	.Webinar-Mob-image img{
		margin-top: 1rem;
	}
}
.logo {
	width: 67px;
	height: 56px;
}